@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Kanit:ital,wght@0,400;0,700;1,400&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background: rgb(12, 90, 60);
    font-family: 'Architects Daughter', sans-serif;
}

h3 {
    text-align: center;
    color: #fff;
    padding-top: 1%;
    padding-bottom: 0;
}


/* Game result modal styling */

#game-result {
    border-bottom: #fefefe 2px solid;
    padding: 3em;
    text-shadow: 1px 1px 1px #011601;
}

#record-info-text {
    font-size: 14px;
    color: black;
    font-weight: bold;
    padding: 1em;
    text-decoration: underline overline dotted red;
    text-shadow: 1px 1px 1px orangered;
}


/* Game surface styling */

.game-surface {
    width: 700px;
    height: 700px;
    padding: 5px;
    border: solid 5px orangered;
    border-radius: 15px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    cursor: help;
}


/* Image styling on index.html */

.background-image {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
}


/* The game images styling (game.html) */

.images {
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
}

.images:hover {
    transform: scale(0.95);
    transition: transform 0.2s;
}

.images.spin {
    transform: rotateY(180deg);
}

.img-face,
.img-neck {
    width: 100%;
    height: 100%;
    padding: 10%;
    position: absolute;
    border-radius: 10px;
    background: rgb(248, 244, 244);
    backface-visibility: hidden;
}

.img-face {
    transform: rotateY(180deg);
    background-color: whitesmoke;
}


/* Transform the images if they match (are the same) in the game */

.done {
    border-radius: 15px;
    border: solid 15px rgb(15, 95, 65);
}


/* Scores and time (top left) in game.html */

#scores {
    color: #fefefe;
    text-align: left;
    text-shadow: 1px 1px 1px #011601;
}


/* The Modal  */


/*-----Modal (https://www.w3schools.com/howto/howto_css_modals.asp) -----*/

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(56, 26, 26, 0.5);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: hsla(14, 82%, 58%, 0.9);
    color: whitesmoke;
    margin: 10% auto;
    /* 10% from the top and centered */
    padding: 20px;
    border: lightgreen solid 2px;
    border-radius: 3%;
    width: 80%;
    /* Could be more or less, depending on screen size */
    height: 80%;
    font-size: 32px;
    text-align: center;
}


/* Buttons for Pause, Restart and Mute the sound in the game (game.html)*/

#mute-sound,
#restart,
#pause-start {
    color: rgb(0, 255, 0);
    font-size: 24px;
    padding: 0 0.2em 0 0.2em;
    text-shadow: 2px 2px 2px #011601;
}

#mute-sound:hover,
#restart:hover,
#pause-start:hover {
    cursor: pointer;
    color: orangered;
}

#pause-start:active {
    color: #0c5a3c;
}


/* If icon on game.html (start / pause, restart or mute) are pressed */

.color-red {
    color: red;
}


/* Close text styling in modal */

.close {
    color: rgb(255, 247, 247);
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #011601;
}

.close:hover,
.close:focus {
    color: rgb(0, 255, 0);
    text-decoration: none;
    cursor: pointer;
}


/*-------------------- close (X) in the top right corner */

.close-to-main {
    color: rgb(255, 255, 255);
    margin-left: 3em;
    text-align: right;
    padding: 5px 5px 0 0;
    text-shadow: 3px 3px 3px #011601;
    font-size: 48px;
}


/*--------------------- Play again text in mordal*/

.again {
    color: antiquewhite;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #011601;
}

.again:hover,
.again:focus {
    color: rgb(0, 255, 0);
    text-decoration: none;
    cursor: pointer;
}


/*--------------- Info and result text in modal*/

.info-text {
    font-size: 20px;
    text-align: left;
    border-bottom: lightgreen 2px solid;
    margin-bottom: 50px;
    padding: 30px;
    text-shadow: 1px 1px 1px #011601;
}


/* H3 The headings, Info About The Game text styling (index.html) */

.surface-text-top {
    text-align: center;
    cursor: pointer;
    padding-top: 5%;
}


/* Start The Memory Game text styling (index.html) */

.surface-text {
    text-align: center;
    cursor: pointer;
}

.surface-text:hover {
    color: orangered;
    text-shadow: 1px 1px 1px #011601;
}

.surface-text-top:hover {
    color: orangered;
    text-shadow: 1px 1px 1px #011601;
}


/*----------------------- Media Queries*/

@media (max-width: 890px) {
    .info-text {
        font-size: 20px;
        padding: 1em;
        margin: 0;
    }
    .again {
        padding-top: 20px;
        font-size: 24px;
        font-weight: bold;
    }
    .color-result {
        color: #5a0c0c;
    }
    #game-result {
        font-size: 14px;
        text-align: left;
        padding: 2em;
    }
    #close {
        font-size: 24px;
    }
    .close-to-main {
		font-size: 30px;
	}
    .game-surface {
        width: 500px;
        height: 500px;
    }
}

@media (min-width: 642px) {
    #game-result {
        padding: 1em;
    }
}

@media (max-width: 641px) {
    .info-text {
        font-size: 14px;
        padding: 0;
        margin: 0;
    }
    .again {
        padding-top: 20px;
        font-size: 14px;
        font-weight: bold;
    }
    #game-result {
        font-size: 14px;
        text-align: left;
        padding: 2em;
    }
    #close {
        font-size: 18px;
    }
    .close-to-main {
		font-size: 24px;
	}
    .game-surface {
        width: 340px;
        height: 340px;
    }
    .surface-text,
    .surface-text-top {
        font-size: 12px;
    }
}

@media (max-width: 481px) {
    .margins {
        font-size: 16px;
        padding-top: 0;
    }
    #pause-start,
    #restart,
    #mute-sound,
    .close {
        font-size: 30px;
    }
    .surface-text,
    .surface-text-top {
        font-size: 16px;
    }
    #game-result {
        font-size: 14px;
        text-align: left;
        padding: 5px;
    }
    #scores {
        font-size: 16px;
    }
    .container {
        width: 95vh;
    }
}

@media (max-width: 350px) {
    .info-text {
        font-size: 16px;
        padding: 0;
        margin: 0;
    }
    .again {
        font-size: 16px;
        font-weight: bold;
    }
    #game-result {
        font-size: 16px;
        text-align: left;
        padding: 1em;
    }
    #close {
        font-size: 18px;
    }
    #scores {
        font-size: 18px;
    }
    .surface-text,
    .surface-text-top {
        margin-left: 3vh;
    }
    .container {
        width: 95vh;
    }
}

@media (orientation: landscape) {
    .game-surface {
        width: 75vh;
        height: 75vh;
    }
    .margins {
        padding-top: 1em;
    }
    .modal-content {
        height: 100%;
        padding-top: 0;
        text-align: center;
    }
}

@media (orientation: portrait) {
    .container {
        margin-top: 25%;
    }
    .modal-content {
        height: 80%;
        padding-top: 10%;
        text-align: center;
    }
    #game-result {
        padding: 1em;
    }
}
